/*  Setup some basic styling for the body */
body {
    background: hsl(25, 47%, 70%);
    color: #fff;
    font-family: "Helvetica", sans-serif;
    text-align: center;
}

/*  Use flexbox to make sure things align nicely */
main {
    align-items: center;
    display: flex;
    justify-content: center;
}

/*  Use flexbox to make sure things align nicely,
    and set the sliders to 100px height, so they match their respective rectangles */
.slider {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
}